*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/SwipeBackLayout/build
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/
app/release/
*.apk
smartvisioniibrary/src/test/java/com/kernal/smartvision/ExampleUnitTest.java
smartvisioniibrary/src/androidTest/java/com/kernal/smartvision/ApplicationTest.java
smartvisioniibrary/proguard-rules.pro
smartvisioniibrary/local.properties
smartvisioniibrary/gradlew.bat
smartvisioniibrary/gradlew
smartvisioniibrary/gradle/wrapper/gradle-wrapper.properties
smartvisioniibrary/gradle/wrapper/gradle-wrapper.jar
